Unmarshal in codec.go can exhaust memory trying to decode < 10 bytes of CBOR data

@scraly, the CBOR library used by scraly/go.common can cause fatal out-of-memory error when trying to decode < 10 bytes of malformed CBOR data.

The problem in `ugorji/go` was known to the public since September 2019 or possibly earlier.  

### Relevant code in scraly/go.common

https://github.com/scraly/go.common/blob/e18b946ec76147785af6fa1ce680abddcaae9f19/pkg/storage/codec/cbor/codec.go#L18

https://github.com/scraly/go.common/blob/e18b946ec76147785af6fa1ce680abddcaae9f19/pkg/storage/codec/cbor/codec.go#L33-L40

### Error or Exception

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_security_march2020_638px.svg?sanitize=1 "CBOR security comparison")

For more info, see [Section 8 of RFC 7049](https://tools.ietf.org/html/rfc7049#section-8) for CBOR security considerations.

### Comparisons

__Click to expand:__

<details>
  <summary>CBOR Program Size Comparison</summary><p>
  
__fxamacker/cbor__ can produce smaller programs.
  
![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_size_comparison.png "CBOR library and program size comparison chart")

</details>

<details>
  <summary>CBOR Speed Comparison</summary><p>

__fxamacker/cbor__ can be faster for CBOR data such as CBOR Web Tokens.

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_speed_comparison.png "CBOR library speed comparison chart")

</details>

<details>
  <summary>CBOR Memory Comparison</summary><p>

__fxamacker/cbor__ can use less memory for CBOR data such as CBOR Web Tokens.

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_memory_table.svg?sanitize=1 "CBOR Memory Comparison")

</details>

Benchmarks used example data from [RFC 8392 Appendix A.1](https://tools.ietf.org/html/rfc8392#appendix-A.1) and default options for CBOR libraries.

### Migration to fxamacker/cbor from ugorji/go

Go projects that switched from ugorji/go to fxamacker/cbor include:
* in Oct 2019 - [oasislabs/oasis-core](https://github.com/oasislabs/oasis-core)
* in Feb 2020 - [smartcontractkit/chainlink](https://github.com/smartcontractkit/chainlink)
* in Mar 2020 - [katzenpost (multiple)](https://github.com/katzenpost)
* in Apr 2020 - [edgexfoundry (multiple)](https://github.com/edgexfoundry)

